#corpito {

  text-align: center;
  background-image: url("imgs/background.PNG"); 
  background-size: 100%;
  /* background-color: black; */

}

.botao {

    outline: none;
    margin: 5;
    height: 38;
    width: 250;
    /* background-color: transparent;
    border-color: transparent;
    color: transparent; */
}



