body {

  background-image: url(https://picsum.photos/900);
  text-align: center;

}

.botao {

    background-image: url(https://picsum.photos/75/50);
    outline: none;
    margin: 10;
    height: 50;
    width: 75;
}

